<input type="hidden" id="_csrf" name="_csrf" value="<%= csrftoken %>" />
<div>
  <div class="header">
    <div class="navbar navbar-inner">
      <img height="48px" src="/smartadmin/images/smartcore.jpg">
      <img height="48px" src="/smartadmin/images/smartcore.jpg">
      <img height="48px" src="/smartadmin/images/smartcore.jpg">
      <ul class="nav pull-right">
        <li>
          <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <i class="fa fa-user fa-2x"></i>&nbsp; Dreamarts
          </a>
          <ul class="dropdown-menu pull-right">
            <li>
              <a href="#"><i class="fa fa-user"></i>&nbsp;Profile</a>
            </li>

            <li class="divider"></li>

            <li>
              <a href="/login" id="_logout"><i class="icon-off"></i>&nbsp;Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!--/.navbar-inner-->
  </div>
  <div class="header_content">
    <div class="col-lg-12" >
      <div class="header_align">
        <ul class="header_nav">
          <li>
            <a href="/admin/user/list">
              <i class="fa fa-user fa-2x"></i><h6>ユーザ</h6>
            </a>
          </li>
          <li>
            <a href="/admin/group/list">
              <i class="fa fa-sitemap fa-2x"></i><h6>グループ</h6>
            </a>
          </li>
          <li>
            <a href="/admin/master/list">
              <i class="fa fa-bookmark fa-2x"></i><h6>マスタ</h6>
            </a>
          </li>
          <li>
            <a href="/admin/i18n/list">
              <i class="fa fa-magnet fa-2x"></i><h6>翻訳</h6>
            </a>
          </li>
          <li>
            <a href="/admin/monitor/log">
              <i class="fa fa-dashboard fa-2x"></i><h6>监视</h6>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cogs fa-2x"></i><h6>設定</h6>
            </a>
          </li>
        </ul><!--header_nav-->
      </div><!--header_align-->
    </div>
  </div>
</div>