<!DOCTYPE html>
<html>
<head>
  <title>グループ追加</title>
  <% include admin_common_required.html %>
</head>
<body>

<% include admin_common_header.html %>
<script type="text/javascript" src="/smartadmin/javascripts/admin_group_update.js"></script>

<input type="hidden" id="gId" value="<%= groupId %>">

<div class="row contents">
  <div class="sidebar">
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-th-list fa-2x"></i><span>&nbsp;一覧</span>
        </a>
      </li>
      <li class="active">
        <a href="#">
          <span>詳細</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>インポート・</span>
        </a>
      </li>
    </ul>
  </div><!-- sidebar -->
  <div class="content">
    <div class="content-header">
      <div class="col-lg-12">
        <div>
          <ul class="breadcrumb">
            <li><a href="/admin">Home</a></li>
            <li>
              <a href="/admin/group/list">group</a>
            </li>
            <li class="active"><%= operation %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="widget_wrapper">
        <div class="widget_header">
          <div class="btn-group">
          </div>
        </div>
        <div class="row" style="margin: 15px">
          <div>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">组名</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="inputName" placeholder="组名">
                </div>
              </div>
              <div class="form-group">
                <label for="inputParent" class="col-sm-2 control-label">父组标识</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="inputParent" placeholder="父组标识">
                </div>
              </div>
              <div class="form-group">
                <label for="inputDescription" class="col-sm-2 control-label">description</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="inputDescription" placeholder="description">
                </div>
              </div>
              <div class="form-group">
                <label for="inputType" class="col-sm-2 control-label">类型</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="inputType" placeholder="类型">
                </div>
              </div>
              <div class="form-group">
                <label for="inputVisibility" class="col-sm-2 control-label">可见性</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="inputVisibility" placeholder="可见性">
                </div>
              </div>
              <div class="form-group">
                <label for="inputOwners" class="col-sm-2 control-label">经理一览</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="inputOwners" placeholder="经理一览">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div id="addExtendData" class="btn btn-default" data-toggle="modal" data-target="#extendType">扩展属性</div>
                  <div id="addMainData" class="btn btn-default">登録</div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-6 col-lg-offset-2">
            <div id="extendTable">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>Key</th>
                  <th>Value/Object/Array</th>
                </tr>
                </thead>
                <tbody id="item_extend">
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- content -->
</div>
<!-- Modal -->
<div class="modal fade" id="extendType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">扩展属性的类型</h4>
      </div>
      <div class="modal-body">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="keyValue" value="Key:Value" checked>
            Key:Value<br/>
            例：{"extend" : {"mobile" : "1234567890"} }
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="keyObject" value="Key:Object">
            Key:Object<br/>
            例：{"extend" : {"photo" : { "y" : "0", "width" : "640","fid" : "52a2b5a14076d2869a000001","x" : "0"} } }
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="keyValueArray" value="Key:Array[]">
            Key:Array[]<br/>
            例：{"extend" : {"following" : []} }
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <div class="btn btn-default" data-dismiss="modal">閉める</div>
        <div id="nextSelect" class="btn btn-default" data-toggle="modal" data-target="#myModal">次</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">扩展属性</h4>
      </div>
      <div class="modal-body">
        <div id="keyValuePop">
          <table class="table table-striped">
            <tr>
              <td>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Key</label>
                    <div class="col-sm-10 form-inline">
                      <div class="form-group">
                        <input type="text" class="form-control" id="keyValue_Key" placeholder="Key">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Value</label>
                    <div class="col-sm-10 form-inline">
                      <div class="form-group">
                        <input type="text" class="form-control" id="keyValue_Value" placeholder="Value">
                      </div>
                    </div>
                  </div>
                </form>
              </td>
            </tr>
          </table>
        </div>
        <div id="keyObjectPop">
          <table class="table table-striped">
            <tr>
              <td>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Key</label>
                    <div class="col-sm-10 form-inline">
                      <div class="form-group">
                        <input type="text" class="form-control" id="keyObject_Key" placeholder="Key">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Object</label>
                    <div class="col-sm-10 form-inline">
                      <div class="form-group">
                        <div id="keyObject_Object" class="btn btn-default"><i class="fa fa-plus"></i></div>
                      </div>
                    </div>
                    <div id="item_object"></div>
                  </div>
                </form>
              </td>
            </tr>
          </table>
        </div>
        <div id="keyValueArryPop">
          <table class="table table-striped">
            <tr>
              <td>
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Key</label>
                    <div class="col-sm-10 form-inline">
                      <div class="form-group">
                        <input type="text" class="form-control" id="keyArray_Key" placeholder="属性コード">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Value</label>
                    <div class="col-sm-10 form-inline">
                      <div class="form-group">
                        <div id="keyArray_Value" class="btn btn-default"><i class="fa fa-plus"></i></div>
                      </div>
                    </div>
                    <div id="item_array"></div>
                  </div>
                </form>
              </td>
            </tr>
          </table>
        </div>
        <!--<div id="keyObjectArrayPop"></div>-->
      </div>
      <div class="modal-footer">
        <div class="btn btn-default" data-dismiss="modal">閉める</div>
        <div id="saveExtend" class="btn btn-default">保存</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/template" id="tmpl_item_extend">
  <tr>
    <td>{{extendKey}}</td>
    <td>
      <table>
        <$ if ("value" === extendType) { $>
        <tr>
          <td>{{extendValue}}</td>
        </tr>
        <$ } else if ("object" === extendType) { $>
        <$  _.each(extendObject, function(object) { $>
        <tr>
          <td>{{object.key}}</td>
          <td>{{object.value}}</td>
        </tr>
        <$  }); $>
        <$ } else { $>
        <$  _.each(extendArray, function(value) { $>
        <tr>
          <td>{{value}}</td>
        </tr>
        <$  }); $>
        <$ } $>
      </table>
    </td>
  </tr>
</script>
<script type="text/template" id="tmpl_item_object">
  <div class="col-sm-10 col-sm-offset-2 form-inline" name="object">
    <div class="form-group">
      <input type="text" class="form-control" name="objectKey" placeholder="Key" value={{objectKey}}>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="objectValue" placeholder="Value" value={{objectValue}}>
    </div>
    <div class="form-group">
      <a href="#" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>
</script>

<script type="text/template" id="tmpl_item_array">
  <div class="col-sm-10 col-sm-offset-2 form-inline" name="array">
    <div class="form-group">
      <input type="text" class="form-control" name="arrayValue" placeholder="Value" value={{arrayValue}}>
    </div>
    <div class="form-group">
      <a href="#" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
    </div>
  </div>
</script>
<% include admin_common_footer.html %>
</body>
</html>