<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jquery -->
<script type="text/javascript" src="/smart/jquery/jquery-1.10.2.js"></script>

<!-- jquery UI -->
<script type="text/javascript" src="/smart/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js"></script>
<link rel="stylesheet" href="/smart/jquery-ui-1.10.3/css/no-theme/jquery-ui-1.10.3.custom.min.css" />

<!-- fontawesome : The iconic font designed for Bootstrap -->
<link rel="stylesheet" href="/smart/font-awesome/css/font-awesome.css" />

<!-- bootstrap : front-end framework for faster and easier web development -->
<script type="text/javascript" src="/smart/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" href="/smart/bootstrap/css/bootstrap.css" />

<!-- Underscore -->
<script type="text/javascript" src="/smart/underscore/underscore.min.js"></script>
<script type="text/javascript" src="/smart/underscore/underscore.string.min.js"></script>

<!-- dataTables -->
<link rel="stylesheet" href="/smart/datatables/css/jquery.dataTables.css" />
<script type="text/javascript" src="/smart/datatables/js/jquery.dataTables.min.js"></script>

<!-- validator -->
<script type="text/javascript" src="/smart/validator.min.js"></script>
<script type="text/javascript" src="/smart/alertify/alertify.min.js"></script>

<!-- Application JS -->
<script type="text/javascript" src="/smartadmin/javascripts/admin.js"></script>
<link href="/smartadmin/stylesheets/admin.css" rel="stylesheet" media="screen">

