/**
 * @file 单体测试对象：modules/mod_<%= name %>.js
 * @author <%= author %>
 * @copyright Dreamarts Corporation. All Rights Reserved.
 */

"use strict";

var should      = require("should")
  , <%= name %> = require("../../coverage/modules/mod_<%= name %>");
/**
 * 测试代码
 */
describe("modules/mod_<%= name %>.js", function() {

  /**
   * 执行测试case
   */
  /*****************************************************************/
  describe("addFile()", function() {

    it("should return err when the dbCode is an invalid", function(done) {
      done();
    });
  });
});
