<!DOCTYPE html>
<html>
<head>
  <title></title>

  <% include ../admin_required.html %>

  <style>
    .groupArea {
      background-color: #F7F7F9;
      border: 1px solid #E1E1E8;
      border-radius: 4px 4px 4px 4px;
      padding: 9px 14px;
    }
  </style>

</head>
<body>

<div style="padding: 20px;">

  <form class="form-horizontal">
    <div class="form-group">
      <label for="userName" class="col-lg-1 control-label">用户名</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="userName" placeholder="用户名">
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-lg-1 control-label">密码</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="password" placeholder="密码">
      </div>
    </div>
    <div class="form-group">
      <label for="last" class="col-lg-1 control-label">姓名</label>
      <div class="col-lg-1">
        <input type="text" class="form-control" id="last" placeholder="姓">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" id="middle" placeholder="中间名">
      </div>
      <div class="col-lg-1">
        <input type="text" class="form-control" id="first" placeholder="名">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-1 control-label">所属组</label>
      <div class="col-lg-3">
        <div class="groupArea">
          &nbsp;
          <span class="glyphicon glyphicon-plus btn-xs" style="position: absolute;right: 25px; top:5px; cursor: pointer;"></span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-lg-1 control-label">电子邮件地址</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="email" placeholder="电子邮件地址">
      </div>
    </div>
    <div class="form-group">
      <label for="lang" class="col-lg-1 control-label">语言</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="lang" placeholder="语言">
      </div>
    </div>
    <div class="form-group">
      <label for="timezone" class="col-lg-1 control-label">时区</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="timezone" placeholder="时区">
      </div>
    </div>
    <div class="form-group">
      <label for="status" class="col-lg-1 control-label">状态</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="status" placeholder="状态">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-1 col-lg-4">
        <button type="submit" class="btn btn-default">保存</button>
      </div>
    </div>
  </form>

</div>

</body>
</html>