/* login */
.login {
  margin: 0 auto;
  margin-top: 100px;
  width: 400px;
  background: #fff;
  -moz-border-radius: 0px;
  -khtml-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 90;
  padding: 20px;
}

h4.rectangle {
  margin: 0;
  line-height: 50px;
  background: /*#666*/ #b561de /*#ff69b4*/;
  height: 50px;
  width: 430px;
  position: relative;
  left: -19px;
  top: 10px;
  float: left;
  -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  z-index: 100;
  text-align: center;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.4);
}

.triangle-l {
  border-color: transparent #c60063 transparent transparent;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  position: relative;
  left: -35px;
  top: 45px;
  z-index: -1;
}

.triangle-r {
  border-color: transparent transparent transparent #c60063;
  border-style: solid;
  border-width: 15px;
  height: 0px;
  width: 0px;
  position: relative;
  left: 396px;
  top: 16px;
  z-index: -1;
}


body {
  background: url(..images/pattern1.png) #5d5e65;
  color: #555;
}
h4,
h5,
h6 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.header {
  height: 50px;
  background: #f0f0f0;
}
.header_content {
  height: 80px;
}
.header_align {
  text-align: center;
  margin: 5px;
  border: 5px;
}
.header_nav {
  overflow: hidden;
  margin: 0;
}
.header_nav li {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  /*position: relative;*/
  background: #f8f8f8;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e8e8e8));
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
  background: -o-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
  background: -ms-linear-gradient(top, #f8f8f8 0%, #e8e8e8 100%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e8e8e8', GradientType=0);
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: 0 -2px 5px 0 #ffffff inset;
  -moz-box-shadow: 0 -2px 5px 0 #ffffff inset;
  -webkit-box-shadow: 0 -2px 5px 0 #ffffff inset;
}
.header_nav li a {
  color: #555;
  display: block;
  padding: 5px 5px;
  white-space: nowrap;
  min-height: 40px;
  min-width: 120px;
}
.header_nav li a:hover {
  text-decoration: none;
}
.contents {
  margin: 0px 15px 15px 15px;
  /*height: 780px;*/
}
.sidebar {
  width: 10%;
  float: left;
  display: inline-block;
  z-index: 10;
}
.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  list-style: none;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  /*background: #eceded;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4NiUiIHN0b3AtY29sb3I9IiNlY2VkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTFlMWUxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTc1JSIgc3RvcC1jb2xvcj0iI2Q5ZDlkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(left,  #eceded 86%, #e1e1e1 100%, #d9d9d9 175%);
  background: -webkit-gradient(linear, left top, right top, color-stop(86%,#eceded), color-stop(100%,#e1e1e1), color-stop(175%,#d9d9d9));
  background: -webkit-linear-gradient(left,  #eceded 86%,#e1e1e1 100%,#d9d9d9 175%);
  background: -o-linear-gradient(left,  #eceded 86%,#e1e1e1 100%,#d9d9d9 175%);
  background: -ms-linear-gradient(left,  #eceded 86%,#e1e1e1 100%,#d9d9d9 175%);
  background: linear-gradient(to right,  #eceded 86%,#e1e1e1 100%,#d9d9d9 175%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceded', endColorstr='#d9d9d9',GradientType=1 );
*/
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5NSUiIHN0b3AtY29sb3I9IiNiZmJmYmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzJjMmMyIiBzdG9wLW9wYWNpdHk9IjAuNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #bfbfbf 95%, rgba(194, 194, 194, 0.6) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(95%, #bfbfbf), color-stop(100%, rgba(194, 194, 194, 0.6)));
  background: -webkit-linear-gradient(left, #bfbfbf 95%, rgba(194, 194, 194, 0.6) 100%);
  background: -o-linear-gradient(left, #bfbfbf 95%, rgba(194, 194, 194, 0.6) 100%);
  background: -ms-linear-gradient(left, #bfbfbf 95%, rgba(194, 194, 194, 0.6) 100%);
  background: linear-gradient(to right, #bfbfbf 95%, rgba(194, 194, 194, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#99c2c2c2', GradientType=1);
}
.sidebar ul li:hover {
  background: #ECEDED;
}
.sidebar ul li.active {
  background: #ECEDED;
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}
.sidebar ul li a {
  display: block;
  text-decoration: none;
  color: #555;
  padding: 10px 0;
}
.sidebar ul li a:hover {
  text-decoration: none;
  transition: color 0.5s ease-out 0s;
  color: #000;
}
.content {
  background: #f0f0f0;
  float: right !important;
  width: 90%;
}
.content-wrapper {
  padding: 10px;
}

.breadcrumb {
  border: 1px solid #CDCDCD;
  background: rgb(248,248,248);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(232,232,232,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(232,232,232,1)));
  background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%);
  background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%);
  background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
  border-radius: 0px;
  margin-top:15px;
  margin-bottom:5px;
}

.breadcrumb .submenu {
  position: absolute;
  left: 0;
  display: none;
  margin: -5px 0 0 -1px;
  padding: 0;
  list-style: none;
  z-index: 10;
}

.widget_wrapper {
  background: #F7F7F7;
  border: 1px solid #CDCDCD;
  border-radius: 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 2px 2px -2px #CCCCCC;
  -moz-box-shadow: 0 2px 2px -2px #CCCCCC;
  -webkit-box-shadow: 0 2px 2px -2px #CCCCCC;
  position: relative;
  margin-bottom: 20px;
}

.widget_wrapper .widget_header {
  border-bottom: 1px solid #CDCDCD;
  box-shadow: 0 1px 0 #FFFFFF;
  -moz-box-shadow: 0 1px 0 #FFFFFF;
  -webkit-box-shadow: 0 1px 0 #FFFFFF;
  position: relative;
  text-shadow: 0 1px #FFFFFF;
  height: 40px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: rgb(248,248,248);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(232,232,232,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(100%,rgba(232,232,232,1)));
  background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%);
  background: -o-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%);
  background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,rgba(232,232,232,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#e8e8e8',GradientType=0 );
}

.form-control {
  border-radius: 0px;
}
.btn {
  border-radius:0px;
}
.footer {
  color: #f0f0f0;
  text-align: center;
}
