<!DOCTYPE html>
<html>
<head>
  <title></title>

  <% include ../admin_required.html %>

  <style>
    .groupArea {
      background-color: #F7F7F9;
      border: 1px solid #E1E1E8;
      border-radius: 4px 4px 4px 4px;
      padding: 9px 14px;
    }

    .corner {
      position: absolute;
      right: 22px;
      top:5px;
      cursor: pointer;
    }
  </style>

</head>
<body>

<% include ../admin_header.html %>

<div class="row contents">
  <div class="sidebar">
    <ul>
      <li class="active" title="用户一览">
        <a href="#">
          <span>用户一览</span>
        </a>
      </li>
    </ul>
  </div><!-- sidebar -->

  <div class="content">
    <div class="row">
      <div class="col-lg-12">
        <div style="padding: 20px;">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="userName" class="col-lg-2 control-label">用户名</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="userName" placeholder="用户名">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-2 control-label">密码</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="password" placeholder="密码">
              </div>
            </div>
            <div class="form-group">
              <label for="last" class="col-lg-2 control-label">姓名</label>
              <div class="col-lg-2">
                <input type="text" class="form-control" id="last" placeholder="姓">
              </div>
              <div class="col-lg-2">
                <input type="text" class="form-control" id="middle" placeholder="中间名">
              </div>
              <div class="col-lg-2">
                <input type="text" class="form-control" id="first" placeholder="名">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">所属组</label>
              <div class="col-lg-6">
                <div class="groupArea">
                  &nbsp;
                  <i class="fa fa-search-plus corner"></i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-lg-2 control-label">电子邮件地址</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="email" placeholder="电子邮件地址">
              </div>
            </div>
            <div class="form-group">
              <label for="lang" class="col-lg-2 control-label">语言</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="lang" placeholder="语言">
              </div>
            </div>
            <div class="form-group">
              <label for="timezone" class="col-lg-2 control-label">时区</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="timezone" placeholder="时区">
              </div>
            </div>
            <div class="form-group">
              <label for="status" class="col-lg-2 control-label">状态</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="status" placeholder="状态">
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-4">
                <button id="save" type="submit" class="btn btn-default">保存</button>
              </div>
            </div>
          </form>

          <br>
          <br>
          <br>

        </div>
      </div>

    </div>
  </div><!-- content -->
</div>

<% include ../admin_footer.html %>

</body>
</html>